# いつもの
node_modules
.env

# lib/voicevoxは除外
lib/pomodoro/voicevox/*
# でも、一次ファイルは対象
!lib/pomodoro/voicevox/.VOICEVOX_FILES_IS_HERE

# assets/audio/<数字>は除外
assets/audio/*
# でも、一次ファイルは対象
!assets/audio/voiceList.json